
<% if @username %>
<h1>Roll the dice,<%= @username%></h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>
<p>
  <a href="/dice?username=<%= @username%>">Roll Again</a>
</p>
<%else%>
<h1>what is your name?</h1>
<form action="https://google.com/maps">
<input type="text" name ="q">
<button>Let's play!</button>
</form>
<%end%>